<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Rearrange tiles</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/application.css"/>
    <script type="text/javascript" src="assets/js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="assets/js/underscore.js"></script>
</head>
<body class="">
    <!-- Underscore template which contains the wireframe for the game -->
    <script type="text/template" class="template">
        <%
        var columns = data.rows;
        var itemPool = [0,1,2,3,4,5,6,7,8];

        <!-- Guarantees to return unique random numbers within the itemPool -->
        randomItem = function(itemPool) {
                var index = Math.floor (itemPool.length * Math.random());
                var returnValue = itemPool[index];
                itemPool.splice (index, 1);
                return returnValue;
        }
        %>

        <% for (var row = 0; row < data.rows; row++) { %>
        <div class="row">
            <% for (var column = 0; column < data.rows; column++) { var item = randomItem(itemPool); %>
            <div class="tile" draggable="true" id= "<%- item %>">
                <div class="puzzle piece<%= item+1 %>" data-value="<%- item %>"></div>
            </div>
            <% } %>
        </div>
        <% } %>
    </script>

    <div class="container">
        <div class="page-header">
            <h3 class="text-primary">Rearrange Tiles</h3>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6" style="padding: 20px;">
                <div class="alert alert-success" style="display: none">
                    You have solved the puzzle! Congratulations!
                </div>


                <p class="text-center">
                    Hi! To the right you can see a set of scrambled images. Please do me a favour and put them right.
                </p>
                <p class="well move-count">
                    <b>Moves</b> : 0
                </p>

            </div>

            <div class="col-md-6 jumbotron">
            </div>
        </div>
    </div>

    <!--
     Took a while to figure this out!
     Browsers execute JS as and when they encounter them.
     So, if the application.js is loaded in head, the it would be trying to find the template
     before it was even parsed by the browser.
     Result : Nasty "calling some-method of undefined" error
    -->
    <script type="text/javascript" src="assets/js/application.js"></script>

</body>
</html>