.container .tile {
    border: 1px solid #ffffff; float: left;

}
.container .tile.over { border: 1px solid #000; }
.move-count {
    position: absolute;
    top: 250px;
    right: 220px;
    padding: 35px;
}
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.puzzle {
    border: 1px solid #ffffff;
    width:150px;
    height:150px;
    float: left;
}

.piece1 {
    background-position:0 0
}

.piece2 {
    background-position:-150px 0px
}

.piece3 {
    background-position:-300px 0px
}

.piece4 {
    background-position:0px -150px
}

.piece5 {
    background-position:-150px -150px
}

.piece6 {
    background-position:-300px -150px
}

.piece7 {
    background-position:0px -300px
}

.piece8 {
    background-position:-150px -300px
}

.piece9 {
    background-position:-300px -300px
}

ul {
    list-style-type: none;
    padding-left: 1px;
}

.puzzleType {
    border-bottom: yellowgreen;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-bottom: 2px;
    padding-top: 10px;
}

.puzzleType:hover{
    border-bottom-width: 4px ;
    cursor: pointer;
}
